<!DOCTYPE html>
<html>
    <head>
        <title>Upload new file</title>
        <script>var message={{message}};</script>
    </head>
    <body>
        <h1>Wellcome<h1>
        <h3>Here you will find a zen space, where you can send a file in all serenity.</h3>
        <div class="container" style="color:Tomato;">{{message}}</div>
        <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
        </form>
    </body>
</html>